{% extends 'manage_app/layout.html' %}
{% block title %}Works{% endblock %}

{% block content %}
<h5>Works</h5>
<ul>
    {% for work in works %}
    <li>{{ work.name }}</li>
    <h6><b>Workplaces</b></h6>
    <ul>
        {% for workplace in work.workplaces.all %}
        <li>{{ workplace.name }}</li>
        {% if workplace.worker %}
        <b>Worker</b> -
        {{ workplace.worker.name }} {{ workplace.worker.surname }}
        {% else %}
        <p>No worker</p>
        {% endif %}
        {% endfor %}
    </ul>
    {% empty %}
    <p>No works</p>
    {% endfor %}
</ul>
<h5><a href="{% url 'create_work' company_id %}">Create new work</a></h5>
{% endblock %}