{% extends 'manage_app/layout.html' %}
{% load i18n %}
{% block title %}{%  trans 'Create work' %}{% endblock %}

{% block content %}
    <h4>{%  trans 'Create work' %}</h4>
    <div class='form'>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}