{% extends 'manage_app/layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Workers' %}{% endblock %}

{% block content %}
    <h3>{% trans 'Workers' %}</h3>
    <ul>
        {% for worker in workers %}
            <li>
                <a href="{% url 'worker_detail' worker.id %}">{{ worker.name }} {{ worker.surname }}</a>
            </li>
        {% empty %}
            <p>{% trans 'No workers' %}</p>
        {% endfor %}
        <p><a href="{% url 'create_workers' %}">{% trans 'Create workers' %}</a></p>
    </ul>

    <script>
        var workerSocket = new WebSocket('ws://' + window.location.host + '/ws/workers/');
        workerSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (data['update']) {
                document.location.reload();
            }
        };
        workerSocket.onclose = function (e) {
            console.error('Socket closed unexpectedly');
        };
    </script>
{% endblock %}