{% extends 'manage_app/layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Workers' %}{% endblock %}

{% block content %}
    <h3>{% trans 'Workers' %}</h3>
    <ul>
        {% for worker in workers %}
            <li>
                <a href="{% url 'worker_detail' worker.id %}">{{ worker.name }} {{ worker.surname }}</a>
            </li>
        {% empty %}
            <p>{% trans 'No workers' %}</p>
        {% endfor %}
        <p><a href="{% url 'create_workers' %}">{% trans 'Create workers' %}</a></p>
    </ul>
{% endblock %}